### Continue

- Pernyataan continue akan membuat iterasi saat ini berhenti
- Kemudian melanjutkan ke iterasi berikutnya
- Mengabaikan pernyataan (statement) yang berada antara continue hingga akhir biok perulangan

In [1]:
for i in 'Data analysis':
    if i == 'a':
        continue
    print(i)

D
t

n
l
y
s
i
s

Task

In [2]:
#list
l = ['AI', 'CV', 'ML', 'DS', 'DA', 'DE']

for i in l:
    if i == 'DS':
        continue
    print(i)

AI
CV
ML
DA
DE

In [4]:
#range

for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [6]:
l = [1,2,'tiga',4,'lima',6]

for i in l:
    if type(i) == str:
        continue
    print(i)

1
2
4
6