#### List Comprehension (List dengan inline loop dan if)

list baru dari list sebelumnya

Cara untuk menghasilkan list baru berdasarkan list atau iterables yang telah ada

In [30]:
angka = [2,3,4]

In [31]:
kubik = []

In [32]:
# mencari nilai kubik (pangkat 3) masing-masing element dalam List 
# 'for' bisa untuk list, range, atau string

for a in angka: 
    kubik.append(a**3)
print(kubik)

[8, 27, 64]

#### Penulisan dengan cara lain

new_list = [expression for_loop_one_or_more conditions]

In [2]:
angka = [2,3,4]

In [3]:
kubik = [i**3 for i in angka]

In [4]:
print(kubik)

[8, 27, 64]

In [6]:
abc = ['a', 'b', 'c'] 
cde = ['c', 'd', 'e']

duplikat = []

for i in abc:
    for j in cde:
        if i == j:
            duplikat.append(i)
print(duplikat)

['c']

In [8]:
abc = ['a', 'b', 'c'] 
cde = ['c', 'd', 'e']

duplikat = [i for i in abc for j in cde if i == j]

print(duplikat)

['c']

Task

In [13]:
list1 = [1,2,3,4,5]
list2 = [1,4,9,30,30]

temp = []

for i in list1:
    for j in list2:
        if i**2 == j:
            temp.append(i)
temp

[1, 2, 3]

In [16]:
data = ["data", "science"]

upper = [_.upper() for _ in data]

print(upper)

['DATA', 'SCIENCE']

- Garis bawah (underscore) termasuk penamaan variabel yang valid.
- Secara umum biasa digunakan sebagai throwaway variable (variabel tidak penting)

In [24]:
angka = range(1,8,2)
kuadrat_kubik = [[_**2, _**3] for _ in angka]
print(kuadrat_kubik)

[[1, 1], [9, 27], [25, 125], [49, 343]]

In [26]:
for _ in range(1,8,2):
    print(_)

1
3
5
7

Task

In [28]:
data = ['Kucing', 'Anjing', 'Kelinci']
upper = [i.lower() for i in data]
print(upper)

['kucing', 'anjing', 'kelinci']